<%= form_for(@combini) do |f| %>
  <% if @combini.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combini.errors.count, "error") %> prohibited this combini from being saved:</h2>

      <ul>
      <% @combini.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :user_id %>:
    <%= f.text_field :user_id %><br>

    <%= f.label :typegroup_id %>:
    <%= f.text_field :typegroup_id %><br>

    <%= f.label :type_id %>:
    <%= f.text_field :type_id %><br>

    <%= f.label :photo %>:
    <%= f.text_field :photo %><br>

    <%= f.label :comment %>:
    <%= f.text_field :comment %><br>

    <%= f.label :latitude %>:
    <%= f.text_field :latitude %><br>


    <%= f.label :longitude %>:
    <%= f.text_field :longitude %><br>


    <%= f.submit %>
  </div>
<% end %>
